@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #0f1012;
  color: white;
}

.dark body {
  background-color: #0f1012;
  color: white;
}
